<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated NewGlot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="NewGlot.presentation.NewGlotModelWizardID"
            name="%_UI_NewGlotModelWizard_label"
            class="NewGlot.presentation.NewGlotModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NewGlotModelFile.gif">
         <description>%_UI_NewGlotModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NewGlot -->
      <editor
            id="NewGlot.presentation.NewGlotEditorID"
            name="%_UI_NewGlotEditor_label"
            icon="icons/full/obj16/NewGlotModelFile.gif"
            extensions="newglot"
            class="NewGlot.presentation.NewGlotEditor"
            contributorClass="NewGlot.presentation.NewGlotActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated NewGlot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="NewGlot.DataConcern.presentation.DataConcernModelWizardID"
            name="%_UI_DataConcernModelWizard_label"
            class="NewGlot.DataConcern.presentation.DataConcernModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataConcernModelFile.gif">
         <description>%_UI_DataConcernModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NewGlot -->
      <editor
            id="NewGlot.DataConcern.presentation.DataConcernEditorID"
            name="%_UI_DataConcernEditor_label"
            icon="icons/full/obj16/DataConcernModelFile.gif"
            extensions="dataconcern"
            class="NewGlot.DataConcern.presentation.DataConcernEditor"
            contributorClass="NewGlot.DataConcern.presentation.DataConcernActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated NewGlot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="NewGlot.ContentConcern.presentation.ContentConcernModelWizardID"
            name="%_UI_ContentConcernModelWizard_label"
            class="NewGlot.ContentConcern.presentation.ContentConcernModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContentConcernModelFile.gif">
         <description>%_UI_ContentConcernModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NewGlot -->
      <editor
            id="NewGlot.ContentConcern.presentation.ContentConcernEditorID"
            name="%_UI_ContentConcernEditor_label"
            icon="icons/full/obj16/ContentConcernModelFile.gif"
            extensions="contentconcern"
            class="NewGlot.ContentConcern.presentation.ContentConcernEditor"
            contributorClass="NewGlot.ContentConcern.presentation.ContentConcernActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated NewGlot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="NewGlot.FormConcern.presentation.FormConcernModelWizardID"
            name="%_UI_FormConcernModelWizard_label"
            class="NewGlot.FormConcern.presentation.FormConcernModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FormConcernModelFile.gif">
         <description>%_UI_FormConcernModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NewGlot -->
      <editor
            id="NewGlot.FormConcern.presentation.FormConcernEditorID"
            name="%_UI_FormConcernEditor_label"
            icon="icons/full/obj16/FormConcernModelFile.gif"
            extensions="formconcern"
            class="NewGlot.FormConcern.presentation.FormConcernEditor"
            contributorClass="NewGlot.FormConcern.presentation.FormConcernActionBarContributor">
      </editor>
   </extension>

</plugin>
