<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Glot -->
      <package
            uri="https://it.disim.mde/glot"
            class="Glot.GlotPackage"
            genModel="Glot.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Glot -->
      <package
            uri="https://it.disim.mde/glot/dataConcern"
            class="Glot.DataConcern.DataConcernPackage"
            genModel="Glot.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Glot -->
      <package
            uri="https://it.disim.mde/glot/contentConcern"
            class="Glot.ContentConcern.ContentConcernPackage"
            genModel="Glot.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Glot -->
      <package
            uri="https://it.disim.mde/glot/formConcern"
            class="Glot.FormConcern.FormConcernPackage"
            genModel="Glot.genmodel"/>
   </extension>

</plugin>
